html(lang='en')
  head
    meta(charset='utf-8')
    title Grace Editor
    link(rel='stylesheet', href='stylesheets/layout.css')
    script(src='scripts/visual.js')
  body.horizontal
    nav#left-sidebar.vertical.no-select.fill-height
      header.header.horizontal
        p Grace Visualizer
      header.header.horizontal
        a.button(href='/',style='color: #b58900;')
          .icon ←
          .label Back To Editor
        .fill
      input#upload-input(type='file', multiple='')
      ul#file-tree-vis.fill
        for file in files
          li.filestate.grace.ui-draggable(data-name="#{file.id}")
            .file-name #{file.id}
            input(value="#{file.content}" type="hidden" id="#{file.id}" style="display:none;") 
        else
          li No files detected.
      #version
    #left-sidebar-resize.no-select
    #grace-view.view.horizontal.fill.fill-height
      section.open-file.vertical.fill.no-select
        header.header.horizontal
          p Current View
        .editor.fill.fill-width
        header.header.horizontal
          .fill
            .file-name
            input.file-name-input
          .back.button
            span.icon ⇦
            span.label Back
          .fill
            .file-name
            input.file-name-input
          .forward.button
            span.label Forward
            span.icon ⇨
          .fill
            .file-name
            input.file-name-input
        header.header.horizontal
          p Next View
        .editor.fill.fill-width
